	<div class="container">
             <div style="float: right;">
		<a  href='/admin/addUser'><button class="btn-success">Add an user</button></a>
			</div>
		<div class="row justify-content-md-center mt-5">
			<div class="col-8">
           
            	{{!-- <div class="row">
					<div class="col-md-5">
						<select class="form-control" id="select-column">
							<option value="0">ID</option>
							<option selected value="1">Name</option>
							<option value="2">Email</option>
						</select>
					</div>
					<div class="col-md-7">
						<input class="form-control" type="text" id="search-by-column" placeholder="Search By Column">
					</div>
				</div> --}}
			</div>
		</div>
		   <table class="table col-4 mt-4 table-striped table-bordered" style="width: 100%;" id="example">
                <thead>
                    <tr>    
                        <th scope="col">No</th>
                        <th scope="col">Title</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Country</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Alluser}}
                    <tr>
                        <th class="create_index" scope="row">{{@index}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.mobile}}</td>
                        <td>{{this.country}}</td>
                        <td>
                            <a href="/admin/editUser/{{this._id}}" class="btn btn-primary">Edit</a>
                            <a href="/admin/deleteUser/{{this._id}}" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete {{this.name}} ? ')">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
	</div>
  <script>
    var divs = document.querySelectorAll('.create_index');
    for (var i = 0; i < divs.length; ++i) {
        divs[i].innerHTML = i + 1;
    }
</script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function() {
			function searchByColumn(table) {
				var defaultSearch = 1 //Name
				$(document).on('change', '#select-column', function() {
					defaultSearch = this.value;
				});
				$(document).on('change', '#search-by-column', function() {
					table.search('').columns().search('').draw();
					table.column(defaultSearch).search(this.value).draw();
				});
			}
		    var table = $('#example').DataTable({ "scrollX": true});
		    searchByColumn(table);
		} );

	</script>

<style>
body{
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>




{{!-- <section>
    <div class="container">
        <div>
            <div class="text-muted">
                Advanced Search
            </div>
            <div class="row">
                <div class="col-md-5">
                    <select class="form-control" id="select-column">
                        <option value="0">ID</option>
                        <option selected value="1">Name</option>
                        <option value="2">Email</option>
                    </select>
                </div>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="search-by-column" placeholder="Search By Column">
                </div>
            </div>
            <div class="row">
                <a href="/admin/add-product" class="btn btn-success ml-auto mt-2">Add product</a>
            </div>
            <table class="table mt-4 table-striped table-bordered" id="userTable">
                <thead>
             
        $(document).ready(function() {
    $('#example').DataTable( {
       
    } );
} );       <tr>
                        <th scope="col">No</th>
                        <th scope="col">Title</th>
                        <th scope="col">Email</th>

                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Alluser}}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>

                        <td>
                            <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                            <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete {{this.Name}} ? ')">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
</section>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#userTable').DataTable({

        });
    });
</script>
<script>
    $(document).ready(function () {
        function searchByColumn(table) {
            var defaultSearch = 1 //Name
            $(document).on('change', '#select-column', function () {
                defaultSearch = this.value;
            });
            $(document).on('change', '#search-by-column', function () {
                table.search('').columns().search('').draw();
                table.column(defaultSearch).search(this.value).draw();
            });
        }
        var table = $('#userTable').DataTable();
        searchByColumn(table);
    });
</script> --}}